h1{
  text-align: center;
  font-size: 2.3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.itens-prods{
  display: grid;
  padding: 10px;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;

}
.itens-prods .img{
  width: 100%;
  height: 50vh;
}
.intem img{
  width: 100%;
}